.page-layout {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 40px auto 50px;
  grid-row-gap: 15px;
  grid-template-areas:
    "page-header"
    "menu"
    "content"
    "page-footer";
}


